*.log
*.class
*.jar
*.war
*.ear
.idea/
*.iml
*.ipr
*.iws
target/
test-output/
*~
*.classpath
*.project
*.settings
.factorypath
.DS_Store
.rvmrc
.ruby-version
.ruby-gemset
.~*
*.pyc
.vagrant
*.swp
*.versionsBackup
/build.log
/git.log
/tmp
/stats.txt
nbactions*
nb-configuration.xml
**/webapp/META-INF/
out
